{% load i18n %}
{% load  staticfiles %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{% static 'bootstrap-3.3.5/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.5/css/bootstrap-theme.min.css' %}">

        <!-- MetisMenu CSS -->
        <link rel="stylesheet" href="{% static 'startbootstrap/bower_components/metisMenu/dist/metisMenu.min.css' %}">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'startbootstrap/dist/css/sb-admin-2.css' %}">

        <!-- Custom Fonts -->
        <link rel="stylesheet" type="text/css" href="{% static 'startbootstrap/bower_components/font-awesome/css/font-awesome.min.css' %}">

        <title>{% trans 'Community' %}</title>

    </head>
    <body>
        <div ng-app="updateApp">
            <div id="wrapper" ng-controller="UpdateController as updateCtrl">
                <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div id="header-user" ng-controller="UserController">
                        {% include 'community/user/head.html' %}
                    </div>
                    {% include 'community/create/sidebar.html' %}
                </nav>
                {% include 'community/create/body.html' %}
                {% include 'community/create/footer.html' %}
            </div>
        </div>

        <script src="{% static 'jquery-2.1.4/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap-3.3.5/js/bootstrap.min.js' %}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{% static 'startbootstrap/bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{% static 'startbootstrap/dist/js/sb-admin-2.js' %}"></script>

        <!-- Angular library -->
        <script src="{% static 'angular/angular.min.js' %}"></script>

        <script>
            var user_id = null;
            var is_update = true;
            var community_id = null;
        </script>

        <!-- Personal scripts -->
        <script src="{% static 'community/urls.js' %}"></script>
        <script src="{% static 'community/auth.js' %}"></script>
        <script src="{% static 'community/update_controller.js' %}"></script>
    </body>
</html>
