#config files
.idea/*

#compiled files
*.pyc

#temp files
*~

#migrations
*/migrations/*

#static
community/static_root/*
static_root/*

#media
community/media_root/*
media_root/*

#tmp folder
community/tmp/*
tmp/*

#others
hydra/*
community_api/fixtures/*

#socket file
app.sock
