{% extends "site_base.html" %}
{% load i18n %}
{% load map %}
{% block body %}
        <div class="row">
                <div class="row">
                        <div class="page-header">
                                <h1>{{ community.name }}</h1>
                                <p> {% trans 'Creator:' %}{{ community.manager }}</p>
                        </div>
                </div>
                <div class="row">
                        <div class="well-sm">
                            <p>{{ community.description }}</p>
                        </div>

                        <p> {% trans 'Members:' %}</p>
                        <ul>
                        {% for user in community.users %}
                                <li>{{ user }}</li>
                        {% endfor %}
                        </ul>
                </div>
                <div class="row">
                    <!-- append the map aplication here -->
                    {% map %}
                </div>
        </div>
{% endblock %}