{% extends 'site_base.html' %}
{% load i18n %}
{% load auth_tag %}
{% block body %}
    {% if request.user.is_authenticated %}
        <div class="row">
            <div class="page-header">
                <h1>{% trans 'Delete Community' %}</h1>
            </div>
        </div>
        <div class="row">
            <form action="" method="post">
                {% csrf_token %}
                <h3>{% trans 'Are you sure you want to delete'%} {{ community }} "?"</h3>
                <a href="{% url 'community:detail' community.id %}" class="btn btn-default">{% trans 'Cancel' %}</a>
                <input class="btn btn-danger" type="submit" value="{% trans 'Confirm' %}" />
            </form>
        </div>
    {% else %}
        {% login request.path %}
    {% endif %}
{% endblock body %}