{% load i18n %}
<div id="page-wrapper">
    <div class="row">
        <div class="page-header">
            <h1>{$ community.name $}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>{$ community.description $}</p>
        </div>
        <div class="col-md-2" ng-if="isToShowJoinUsButton(user)">
            <button class="btn btn-default" ng-click="joinUs(authenticated)">{% trans 'Join us' %}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="page-header">
                <h2>{% trans 'Map' %}</h2>
            </div>

            {% include 'community/detail/map.html' %}
        </div>
    </div>
    <div class="row">
        <div class="page-header">
            <h2>{% trans 'Discussion List' %}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="{% trans 'comment' %}" ng-model="$parent.comment"/>
                <span class="input-group-addon btn btn-default" ng-click="postComment()">
                    {% trans 'post' %}
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="page-header">
        </div>
    </div>
    <div comments="discussionList"></div>
    <div class="row">
        <div class="page-header">
        </div>
    </div>
    <div class="hidden" id="model_comments_list">
        <div class="row margin-bottom-5" ng-repeat="item in list">
            <div class="col-md-1 col-lg-1">
                <h4>{$ item.user $}</h4>
            </div>
            <div class="col-md-11 col-lg-11">
                <div class="row">
                    <div class="col-md-6">
                        <p>{$ item.issue $}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{% trans 'comment' %}" ng-model="item.comment"/>
                            <span class="input-group-addon btn btn-default" ng-click="reply(item)">
                                {% trans 'reply' %}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a href="" ng-if="item.reply.length > 0" ng-click="showAnswers(item)" class="margin-right-3">
                            answers <span class="badge">{$ item.reply_count $}</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 margin-top-5">
                        <div sub-comments="item.answers" show="showAnswers" reply="reply"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>