{% load i18n %}

<div id="map" style="width: 100%; height: 80%"></div>

<div id="jsontotable" class="jsontotable"></div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">{% trans 'Attributes' %}</h4>
            </div>
            <div class="modal-body">
                <p ng-repeat="(index, attr) in community.schema">
                    <label ng-if="attr.type_field == 'BooleanField'">
                        <input id="attribute_{$ index $}" type="checkbox" />
                        {$ attr.name_field $}
                    </label>


                    <label ng-if="attr.type_field != 'BooleanField'">{$ attr.name_field $}</label>
                    <input ng-if="attr.type_field != 'BooleanField'" id="attribute_{$ index $}" type="{$convertTypeField(attr.type_field)$}" class="form-control"/>
                </p>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
               <button type="button" ng-click="saveGeometry()" data-dismiss="modal" class="btn btn-default" >{% trans 'Save' %}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bookmarkModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">{% trans 'Bookmark' %}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>{% trans 'Name of bookmark' %}</label>
                    <input id="bookmark_name" type="text" class="form-control"/>
                </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
               <button type="button" onclick="bookmarker()" class="btn btn-default" data-dismiss="modal">{% trans 'Save' %}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loadLayerModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans 'Load layer by URL' %}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>{% trans 'Layer URL' %}</label><input id="layers" class="form-control" type="text" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                <button class="btn btn-primary" type="button" onclick="loadReadOnlyLayer()">{% trans 'Load layer' %}</button>
            </div>
        </div>
    </div>
</div>

<div id="upload_file" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">{% trans 'Upload file' %}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>{% trans 'File name:' %}</label>
                    <input ng-model="file.name" type="text" class="form-control"/>
                </div>
                <div class="form-group">
                    <input file-model="file.file" type="file"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="clearFilesListLayer()" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                <button type="button" ng-click="uploadFile()" data-dismiss="modal" class="btn btn-default" >{% trans 'Upload' %}</button>
            </div>
        </div>
        <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title">{% trans 'Files' %}</h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <a class="list-group-item"
                       ng-repeat="file in files_layer"
                       href="{$ file.file $}">
                        {$ file.name $}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loaded" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="alert alert-success modal-content" ng-if="loadedSuccessful">
            <strong>
                {% trans 'Success!' %}
            </strong>
            {% trans 'The operation was done.' %}
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="alert alert-danger modal-content" ng-if="!loadedSuccessful">
            <strong>
              {% trans 'Error!' %}
            </strong>
            {% trans "The operation wasn't done." %}
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
    </div>
</div>

<div id="invitesomeone" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>
                    {% trans 'Invite Someone' %}
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>{% trans 'Type the username or email of the guest:' %}</label>
                    <input type="text" class="form-control" ng-model="invite.email" placeholder="username or email@email.com"/>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="inviteSomeone()" data-dismiss="modal">{% trans 'Invite' %}</button>
            </div>
        </div>
    </div>
</div>