{% load i18n %}
<div id="page-wrapper">
    <div class="row">
            <div class="page-header">
                <h1>{% trans 'Update a Community' %}</h1>
            </div>
            <fieldset>
                <legend>{% trans 'Identification' %}</legend>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>{% trans 'Name' %}:</label>
                            <input type="text" class="form-control" ng-model="communityName" placeholder="{% trans 'name' %}"/>
                        </div>
                        <div class="form-group">
                            <label>{% trans 'Description' %}:</label>
                            <input type="text" class="form-control" ng-model="description" placeholder="{% trans 'description' %}"/>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" ng-model="needInvitation" />
                            <label>{% trans 'Need invitation' %}</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>{% trans 'Layer' %}</legend>
                {% include 'community/update/create_layer.html' %}
            </fieldset>
    </div>
</div>