.margin-top  { margin-top: 2px; }
.margin-top-1 { margin-top: 5px; }
.margin-top-2 { margin-top: 10px; }
.margin-top-3 { margin-top: 15px; }
.margin-top-4 { margin-top: 30px; }
.margin-top-5 { margin-top: 40px; }
.margin-top-6 { margin-top: 60px; }
.margin-top-7 { margin-top: 80px; }
.margin-top-8 { margin-top: 100px; }
.margin-top-9 { margin-top: 150px; }


.margin-bottom { margin-bottom: 2px; }
.margin-bottom-1 { margin-bottom: 5px; }
.margin-bottom-2 { margin-bottom: 10px; }
.margin-bottom-3 { margin-bottom: 15px; }
.margin-bottom-4 { margin-bottom: 30px; }
.margin-bottom-5 { margin-bottom: 40px; }
.margin-bottom-6 { margin-bottom: 60px; }
.margin-bottom-7 { margin-bottom: 80px; }
.margin-bottom-8 { margin-bottom: 100px; }
.margin-bottom-9 { margin-bottom: 150px; }


.margin-left  { margin-left: 2px; }
.margin-left-1 { margin-left: 5px; }
.margin-left-2 { margin-left: 10px; }
.margin-left-3 { margin-left: 15px; }
.margin-left-4 { margin-left: 30px; }
.margin-left-5 { margin-left: 40px; }
.margin-left-6 { margin-left: 60px; }
.margin-left-7 { margin-left: 80px; }
.margin-left-8 { margin-left: 100px; }
.margin-left-9 { margin-left: 150px; }


.margin-right  { margin-right: 2px; }
.margin-right-1 { margin-right: 5px; }
.margin-right-2 { margin-right: 10px; }
.margin-right-3 { margin-right: 15px; }
.margin-right-4 { margin-right: 30px; }
.margin-right-5 { margin-right: 40px; }
.margin-right-6 { margin-right: 60px; }
.margin-right-7 { margin-right: 80px; }
.margin-right-8 { margin-right: 100px; }
.margin-right-9 { margin-right: 150px; }