{% load i18n %}
<div id="page-wrapper" ng-controller="LayerController as layerCtrl">
    <div class="row">
        <div class="page-header">
            <h1>{$ community.name $}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>{$ community.description $}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="page-header">
                <h2>{% trans 'Map' %}</h2>
            </div>

            {% include 'community/detail/map.html' %}
        </div>
    </div>
    <div class="row">
        <div class="page-header">
            <h2>{% trans 'Discussion List' %}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-lg-6">
            <div class="input-group">
                <textarea type="" class="form-control" placeholder="{% trans 'comment' %}" ng-model="comment"></textarea>
                <span class="input-group-addon btn btn-default" ng-click="postComment()">
                    {% trans 'post' %}
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="page-header">
        </div>
    </div>
    <div comments="discussionList"></div>
    <div class="row">
        <div class="page-header">
        </div>
    </div>
</div>