{% load i18n %}
<div class="navbar-default sidebar" role="navigation" ng-controller="UserController">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li ng-if="authenticated">
                <a href="{% url 'communityPage:update' community.pk %}">
                    <span class="glyphicon glyphicon-edit"></span> {% trans 'Update community' %}
                </a>
            </li>
            <li ng-if="authenticated">
                <a href="{% url 'communityPage:delete' community.pk %}">
                    <span class="glyphicon glyphicon-remove"></span> {% trans 'Detele community' %}
                </a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-wrench"></span> {% trans 'Map Tools' %}<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#" >
                            <label><input id="editable" type="checkbox" /> {% trans 'Editable' %}</label>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#bookmarkModal">
                            <span class="glyphicon glyphicon-bookmark"></span> {% trans 'Bookmark map' %}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#loadLayerModal">
                            <span class="glyphicon glyphicon-download"></span> {% trans 'Load layer' %}
                        </a>
                    </li>
                </ul>
            </li>
            <li id="bookmarkers" ng-controller="BookmarkerController as bmCtrl">
                <a href="#"><span class="glyphicon glyphicon-star"></span> {% trans 'My bookmarks from maps' %}<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li ng-repeat="bookmark in bookmarks">
                        <a href="{$ bookmark.url_visual $}{$ bookmark.lat $},{$ bookmark.lng $},{$ bookmark.zoom $}">
                            {$ bookmark.name $}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
